@inherits LayoutComponentBase
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link rel="navbar stylesheet" href="/css/navbar.css">
<link rel="searchbox stylesheet" href="/css/searchbox.css">


<body id="mainBody">
    <NavMenu />

    <div class="container">
        @Body
    </div>
</body>
