@page "/contact"

@*Deze razor component is aangemaakt voor het maken vna de contact pagina*@

<h1>Contact</h1
<p>main location: dirkzee wasstraat 2583GH</p>
<p> tel: 064323521 </p>



<style>
    button {
        font-size: 40px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        float: left;
        margin-left: auto;
    }

    #container {
        text-align: center;
        align-items: center;
        margin-left: auto;
    }

    #input {
        display: block;
        margin: auto
    }

    #mainBody {
        background: url(/img/secondback.jpg) ;
    }
    #text {
        font-size: 3040px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    }
</style>


