@page "/login"
@inject NavigationManager NavigationManager
@using System.IO

<h1>Please validate your information</h1>

<p>Validate: @validation</p>

<style>
    button {
        font-size: 40px;
        padding: 10px;
        border-radius: 10px;
        margin: 20px;
    }

    #container {
        text-align: center;
    }

    #input {
        display: block;
        margin: auto
    }
</style>

<button class="align-content-between" @onclick="Signup"> signup</button>
<br />




<button class="btn btn-primary" @onclick="Loginvalidation"> validate login information</button>
<br />
<input placeholder="Username" @bind="username" />
<br />
<input placeholder="Password" @bind="password" />
<br />



@code {
    string validation = "";
    private string password;
    private string username;

    void Loginvalidation()
    {
        if (password == "password" && username == "rowan")
        {
            validation = " welcome " + username;
        }
        else
        {
            validation = "invalid username or password please try again";
        }
    }


    private void Signup()
    {
        NavigationManager.NavigateTo("Signup");
    }
}
