@page "/thankyou"

<link href="/css/thankyou.css" rel="stylesheet" />

<div class="container thanks">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">Thanks for driving with us!</h1>
            <p class="lead">You can find your reservation details by going into your account -> dashboard -> reservations.</p>
            <p class="lead">See you soon!</p>
        </div>
    </div>
</div>

@code {

}
