@inject ReservationServices service
@using QARS.Data.Models
@using Microsoft.AspNetCore.Identity
@inject AppDbContext dbContext
@inject UserManager<User> UserManager

<link href="/css/modal.css" rel="stylesheet" />

<EditForm Model="@reservation">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="reservationid">Reservation Id</label><br />
        <small>The Reservation Id is the reference number for you car reservation</small>
        <input disabled type="text" class="form-control" id="reservationid" @bind="@reservation.Id"/>
    </div>
    <p>De rest komt nog :)</p>
    <ValidationSummary />
</EditForm>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public Reservation Reservation { get; set; }

    Reservation reservation { get; set; }

    protected override void OnInitialized()
    {
        reservation = Reservation;
    }
}
