@if (Revealed)
{
	<img class="w-75" src="@path" @onclick="ToggleImage"/>
}
else
{
	<span @onclick="ToggleImage">@Path</span>
}

@code {
	private string path;
	[Parameter]
	public string Path
	{
		get => System.IO.Path.GetFileName(path);
		set => path = value;
	}

	[Parameter]
	public bool Revealed { get; set; } = false;

	public void ToggleImage()
	{
		Revealed = !Revealed;
		StateHasChanged();
	}
}
