@using System.IO 

<div class="mt-4">
	<h3>Test Component</h3>
	<span><strong>Image Directory: </strong>@ImgDirectory</span><br/>
	<strong>Random Image: </strong><Image Path="@GetRandomImage()" Revealed="true"/><br />
	<strong>Images: </strong>
	<ul>
	@foreach (string img in GetImages())
	{
		<li><Image Path="@img"/></li>
	}
	</ul>
</div>

@code {
	[Parameter]
	public string Text { get; set; }

	private static string WWWRoot = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot");
	private static string ImgDirectory = Path.Combine(WWWRoot, "img");

	private static string GetRandomImage()
	{
		var rng = new Random();
		var images = GetImages();
		return images.Length != 0 ? images[rng.Next(images.Length)] : "";
	}

	private static string[] GetImages()
	{
		return Directory.GetFiles(ImgDirectory)
			.Select(x => Path.GetRelativePath(WWWRoot, x))
			.ToArray();
	}
}
