<link href="/css/dashboard.css" rel="stylesheet" />


<div class="list-group">
    <a href="/profile" class="list-group-item list-group-item-action">Profile</a>
    <a href="/managecarmodels" class="list-group-item list-group-item-action">Car Models</a>
    <a href="/managecars" class="list-group-item list-group-item-action">Cars</a>
    <a href="/managelocations" class="list-group-item list-group-item-action">Locations</a>
    <a href="/managestores" class="list-group-item list-group-item-action">Stores</a>
    <a href="/managefranchisees" class="list-group-item list-group-item-action">Franchisees</a>
    <a href="/manageemployees" class="list-group-item list-group-item-action">Employees</a>
    <a href="/managecontactinfo" class="list-group-item list-group-item-action">Contactinfo</a>
</div>


@code {

}
