<link href="/css/dashboard.css" rel="stylesheet" />

<div class="list-group">
    <AuthorizeView Roles="Customer">
        <a href="/Identity/Account/Manage" class="list-group-item list-group-item-action">Profile</a>
        <a href="/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="/reservations">Reservations</a>
    </AuthorizeView>
    <AuthorizeView Roles="Franchisee">
        <a href="/Identity/Account/Manage" class="list-group-item list-group-item-action">Profile</a>
        <a href="/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="/managestores" class="list-group-item list-group-item-action">Stores</a>
        <a href="/manageemployees" class="list-group-item list-group-item-action">Employees</a>
    </AuthorizeView>
    <AuthorizeView Roles="Employee">
        <a href="/Identity/Account/Manage" class="list-group-item list-group-item-action">Profile</a>
        <a href="/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="/managecarmodels" class="list-group-item list-group-item-action">Car Models</a>
        <a href="/managecars" class="list-group-item list-group-item-action">Cars</a>
        <a href="/manageextras" class="list-group-item list-group-item-action">Extras</a>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <a href="/Identity/Account/Manage" class="list-group-item list-group-item-action">Profile</a>
        <a href="/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="/managefranchisees" class="list-group-item list-group-item-action">Franchisees</a>
        <a href="/managecontactinfo" class="list-group-item list-group-item-action">Contactinfo</a>
    </AuthorizeView>
</div>


@code {

}
