<div>
	<strong>Id: </strong><span>@model.Id</span><br />
	<strong>Name: </strong><span>@model.Name</span><br />
	<strong>Age: </strong><span>@model.Age</span><br />
</div>

@code {
	[Parameter]
	public QARS.Data.Models.User model { get; set; }
}
