.image {
    width: 100%;
    height: 300px;
    background: grey;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carcontent{
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.options {
    text-align: start;
    float: right;
    padding-left: 40px;
}

#two {
    background: rgba(255,255,255,0);
    border: 1px solid #03254C;
    color: #03254C;
}
