.thanks {
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.page {
    background: url(/img/Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
