.verification {
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 40px;
}

#three {
    background: rgba(255,255,255,0);
    border: 1px solid #03254C;
    color: #03254C;
}
